.banner{
    width: 100%;
    height: 400px;
    background-image: url('/images/variation2.jpeg');
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.home{
    margin-left: 280px;
    background-image: linear-gradient(#00000008 1px, #0000 1px), linear-gradient(90deg, #00000008 1px, #0000 1px);
    background-size: 32px 32px;
}

.description{
    height: 25rem;
    // background-color: #d0e2ff;
}